.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.separator {
  margin: 0 12px;
  opacity: 0.6;
  font-weight: 300;
}

.home-button {
  font-size: 1.1rem;
  font-weight: 800;
}

.sub-title {
  font-size: 1.1rem;
  font-weight: 450;
}