@if (warnings() && warnings()!.length > 0) {
  <mat-expansion-panel [expanded]="false" class="warning-card">
    <mat-expansion-panel-header>
      <mat-card-header class="warning-header">
        <mat-card-title>
          <mat-icon class="warning-icon">warning_amber</mat-icon>
          <b>Warnings</b>
        </mat-card-title>
      </mat-card-header>
    </mat-expansion-panel-header>

    <mat-card-content class="card-content">
      <ul class="warning-list">
        @for (warn of warnings(); track $index) {
          <li>
            @if (warn.type && warn.type !== 'GENERAL') {
              <strong class="warning-type">[{{ warn.type }}]</strong>
            }
            {{ warn.message }}
          </li>
        }
      </ul>
    </mat-card-content>
  </mat-expansion-panel>
}
